@font-face {
  font-family: "iconfont"; /* Project id 3789209 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1711553633137') format('woff2'),
       url('iconfont.woff?t=1711553633137') format('woff'),
       url('iconfont.ttf?t=1711553633137') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yl-icon-i18n:before {
  content: "\e600";
}

.yl-icon-account-tree:before {
  content: "\e72c";
}

.yl-icon-dark-mode:before {
  content: "\e72f";
}

.yl-icon-dashboard:before {
  content: "\e730";
}

.yl-icon-download:before {
  content: "\e732";
}

.yl-icon-info:before {
  content: "\e733";
}

.yl-icon-upload:before {
  content: "\e731";
}

.yl-icon-link:before {
  content: "\e736";
}

.yl-icon-password:before {
  content: "\e738";
}

.yl-icon-print:before {
  content: "\e73a";
}

.yl-icon-save:before {
  content: "\e73b";
}

.yl-icon-send:before {
  content: "\e73c";
}

.yl-icon-settings:before {
  content: "\e73d";
}

.yl-icon-search:before {
  content: "\e73e";
}

.yl-icon-light-mode:before {
  content: "\e746";
}

.yl-icon-button:before {
  content: "\e7fd";
}

.yl-icon-folder:before {
  content: "\e601";
}

.yl-icon-any_type:before {
  content: "\e602";
}

.yl-icon-archive:before {
  content: "\e603";
}

.yl-icon-add_any:before {
  content: "\e604";
}

.yl-icon-folder-open:before {
  content: "\e605";
}

.yl-icon-unknown:before {
  content: "\e606";
}

.yl-icon-web-folder:before {
  content: "\e607";
}

.yl-icon-text:before {
  content: "\e608";
}

.yl-icon-image:before {
  content: "\e66b";
}

.yl-icon-tiff:before {
  content: "\e66c";
}

.yl-icon-jpeg:before {
  content: "\e66d";
}

.yl-icon-gif:before {
  content: "\e66e";
}

.yl-icon-bmp:before {
  content: "\e66f";
}

.yl-icon-svg:before {
  content: "\e670";
}

.yl-icon-doc:before {
  content: "\e671";
}

.yl-icon-docx:before {
  content: "\e672";
}

.yl-icon-xls:before {
  content: "\e673";
}

.yl-icon-xlsx:before {
  content: "\e674";
}

.yl-icon-pptx:before {
  content: "\e675";
}

.yl-icon-wps:before {
  content: "\e676";
}

.yl-icon-wt:before {
  content: "\e677";
}

.yl-icon-et:before {
  content: "\e678";
}

.yl-icon-mp4:before {
  content: "\e679";
}

.yl-icon-txt:before {
  content: "\e67b";
}

.yl-icon-wpt:before {
  content: "\e67c";
}

.yl-icon-dps:before {
  content: "\e67d";
}

.yl-icon-dpt:before {
  content: "\e67e";
}

.yl-icon-ett:before {
  content: "\e67f";
}

.yl-icon-other:before {
  content: "\e69a";
}

.yl-icon-flv:before {
  content: "\e69e";
}

.yl-icon-png:before {
  content: "\e69f";
}

.yl-icon-xml:before {
  content: "\e6a0";
}

.yl-icon-tif:before {
  content: "\e6a1";
}

.yl-icon-excel:before {
  content: "\e6a2";
}

.yl-icon-ppt:before {
  content: "\e6a3";
}

.yl-icon-word:before {
  content: "\e6a4";
}

.yl-icon-jpg:before {
  content: "\e6a5";
}

.yl-icon-csv:before {
  content: "\e6e0";
}

.yl-icon-pdf:before {
  content: "\e6e4";
}

